.Rectangle_1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 372px;
  top: -33px;
  width: 1096px;
  height: 768px;
  z-index: 2;
}
.Shape_2 {
  background-color: rgb(35, 112, 199);
  position: absolute;
  left: 974px;
  top: -72px;
  width: 568px;
  height: 969px;
  z-index: 3;
}
.Shape_1 {
  background-color: rgb(55, 87, 158);
  position: absolute;
  left: 919px;
  top: -104px;
  width: 708px;
  height: 585px;
  z-index: 4;
}
.Rectangle_2 {
  background-color: rgb(149, 149, 149);
  position: absolute;
  left: 137px;
  top: 0px;
  width: 1094px;
  height: 60px;
  z-index: 5;
}
.Rectangle_3 {
  background-color: rgb(245, 242, 242);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 394px;
  top: 284px;
  width: 534px;
  height: 49px;
  z-index: 6;
}
.Rectangle_4 {
  background-color: rgb(149, 149, 149);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 921px;
  top: 284px;
  width: 84px;
  height: 49px;
  z-index: 7;
}
.MY_PROFILE {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 175px;
  top: 18.6px;
  z-index: 8;
}
.ABOUT {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 893.25px;
  top: 18.6px;
  z-index: 9;
}
.Shape_3 {
  background-color: rgb(35, 112, 199);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 10;
}
.Shape_4 {
  background-color: rgb(253, 246, 60);
  position: absolute;
  left: 876px;
  top: 376px;
  width: 636px;
  height: 463px;
  z-index: 11;
}
.Shape_5 {
  background-color: rgb(253, 246, 60);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 12;
}
.SERVICE {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1110px;
  top: 18.6px;
  z-index: 13;
}
.CONTACT {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 987px;
  top: 18.6px;
  z-index: 14;
}
.THIS_WEBSITE_DESCRIBES_ALL_ABOUT_ME___SO_EVERYO {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(46, 46, 46);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 453px;
  top: 201.59px;
  z-index: 15;
}
.Hi__my_name_is_Laudi_Bintang_Artuta___I_studied {
  font-size: 24px;
  font-family: "Franklin Gothic Medium";
  color: rgb(46, 46, 46);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 444px;
  top: 601.59px;
  z-index: 16;
}
