*{
    margin: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #663399;
}

.header h1{
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 50px;
    color: snow;
    font-family: sans-serif;
}
.header h2{
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    color: #9370DB;
    font-family: sans-serif;

}
.header h3{
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    color: #9370DB;
    font-family: sans-serif;
}
.header label{
    float: right;
    margin-top: -22px;
    padding: 2px;
}
.header input[type=search]{
    float: right;
    margin-top: -20px;
    padding: 2px;
    width: 180px;
    height: 20px;
    
}
.nav ul {
     width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  border-right:1px solid #bbb;
}

.nav li:last-child {
  border-right: none;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #9370DB;
}

.main {
  margin: 0;
  padding: 5px;
  background-color: #E6E6FA;
  text-align: left;
}

.main > h1, p, .browser {
  margin: 10px;
  padding: 5px;
}
.main h1{
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 50px;
    color: snow;
    font-family: sans-serif;
}
.main h2{
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    color: #9370DB;
    font-family: sans-serif;
  }
.browser {
  background: #333;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

.aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}
.rounded img{
  border-radius: 50%;
}